.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  order: 1;
  position: relative;
}

.text-section h1 {
  font-family: monospace;
  white-space: nowrap;
  margin-bottom: 50px;
  overflow: hidden;
  border-right: 0.15em solid white;
  animation: typing 4.5s steps(40, end), blink-caret 0.75s;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 50em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

mat-paginator {
  background-color: transparent;
  color: black;
  font-weight: 400;
}

mat-paginator .button {
  color: black;
}

.gradient-section {
  flex: 1;
  background: linear-gradient(
    227deg,
    #ffb6c1,
    #ff69b4,
    #d53c8d,
    #b57edc,
    #87cefa,
    #98fb98
  );
  color: white;
  background-size: 360% 360%;
  animation: gradient-animation 24s ease infinite;
  padding: 100px 20px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-section > * {
  margin: 5px 0;
  padding: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 4vw;
  }
}
